name: Terraform CD

on:
  workflow_call:
    inputs:
      environment-plan:
        type: string
        required: true
        description: GitHub environment for plan
      environment-apply:
        type: string
        required: true
        description: GitHub environment for apply
      terraform-environment:
        type: string
        required: true
        description: Terraform environment folder name in which backend config and tfvars are stored
      terraform-root:
        type: string
        required: true
        description: Root directory of the Terraform script to execute
    secrets:
      ARM_TENANT_ID:
        required: true
        description: Azure Tenant ID
      ARM_SUBSCRIPTION_ID:
        required: true
        description: Azure Subscription ID
      ARM_CLIENT_ID:
        required: true
        description: Azure Client ID of the managed identity that the job will authenticate with

jobs:
  plan:
    name: Plan
    runs-on: ubuntu-24.04
    environment: ${{ inputs.environment-plan }}

    permissions:
      id-token: write
      contents: read
      pull-requests: write

    outputs:
      plan-artifact-name: ${{ steps.plan.outputs.plan-artifact-name }}
      plan-artifact-file: ${{ steps.plan.outputs.plan-artifact-file }}
      has-changes: ${{ steps.plan.outputs.has-changes }}

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Azure Login
        uses: azure/login@a65d910e8af852a8061c627c456678983e180302 # v2.2.0
        with:
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          client-id: ${{ secrets.ARM_CLIENT_ID }}

      - name: Terraform Init
        uses: pagopa/ict-github-actions/terraform-init@da173842951db1726aabb595e1abe2dc2028b069 # v1.9.0
        with:
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          terraform-root: ${{ inputs.terraform-root }}
          terraform-env: ${{ inputs.terraform-environment }}

      - name: Terraform Plan
        uses: pagopa/ict-github-actions/terraform-plan@754079806bad5a21443a8be19ad3ef92f620d76e # v5.2.0
        id: plan
        with:
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          terraform-root: ${{ inputs.terraform-root }}
          terraform-tfvars-file: env/${{ inputs.terraform-environment }}/terraform.tfvars

  apply:
    name: Apply
    runs-on: ubuntu-24.04
    environment: ${{ inputs.environment-apply }}
    needs: plan
    if: needs.plan.outputs.has-changes == 'true'

    permissions:
      id-token: write
      contents: read
      issues: write

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Azure Login
        uses: azure/login@a65d910e8af852a8061c627c456678983e180302 # v2.2.0
        with:
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          client-id: ${{ secrets.ARM_CLIENT_ID }}

      - name: Terraform Init
        uses: pagopa/ict-github-actions/terraform-init@da173842951db1726aabb595e1abe2dc2028b069 # v1.9.0
        with:
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          terraform-root: ${{ inputs.terraform-root }}
          terraform-env: ${{ inputs.terraform-environment }}

      - name: Download Plan Artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: ${{ needs.plan.outputs.plan-artifact-name }}
          path: ${{ inputs.terraform-root }}

      - name: Terraform Apply
        uses: pagopa/ict-github-actions/terraform-apply@798ad514996694a2c40ad79a1feec943ee5293fe # v2.0.0
        with:
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          terraform-root: ${{ inputs.terraform-root }}
          terraform-plan-file: ${{ needs.plan.outputs.plan-artifact-file }}
